@model IEnumerable<PropertyList.Models.PropertyViewModel>
@{
    ViewBag.Title = "Home";
}
<h2>Property List HELLO</h2>

@*@if (isLogin)
{
    @Html.ActionLink("Create new property", "Create", "Property", null, new { @class = "btn btn-info" })
}

<div class="form-horizontal">
    <br />
    <div class="form-group">

        <table class="table table-responsive" style="width:600px">
            <tr>
                <th>
                    Property ID
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Location)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Bedroom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Bathroom)
                </th>
                @if (isLogin)
                {
                    <th>
                        Status
                    </th>
                }

            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PropertyID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Location)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Bedroom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Bathroom)
                    </td>

                    @if (isLogin)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>

                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.PropertyID }, new { @class = "btn btn-success" })      
                        </td>
                        
                        <td> 
                            @Html.ActionLink("Delete", "Edit", new { id = item.PropertyID }, new { @class = "btn btn-danger" })
                        </td>
                    }
                </tr>
            }

        </table>
    </div>
</div>*@

