@model IEnumerable<PropertyList.Models.PropertyViewModel>
@{
    ViewBag.Title = "Property";
}
<h2>Manage Property</h2>

@Html.ActionLink("Create new property", "Create", "Property", null, new { @class = "btn btn-info" })

<div class="form-horizontal">
    <br />
    <div class="form-group">

        <table class="table table-responsive" style="width:600px">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PropertyID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Location)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Bedroom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Bathroom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PropertyID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Location)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Bedroom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Bathroom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>

                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.PropertyID }, new { @class = "btn btn-success" })
                    </td>                
                </tr>
            }

        </table>
    </div>
</div>


